#root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hot-rod-app {
  display: flex;
  width: 100%;
  height: 100%;
}

.hot-rod-simulation {
  width: calc(50% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
}

.hot-rod-code-editor {
  width: calc(50% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  background-color: black;
  color: white;
}

#init-code-editor {
  color: white;
  border: none;
  appearance: none;
  color: white;
  outline: none;
  width: 400px;
  max-width: 100%;
  margin-top: 20px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  resize: none;
  padding: 12px;
}

#code-editor {
  color: white;
  border: none;
  appearance: none;
  color: white;
  outline: none;
  width: 400px;
  max-width: 100%;
  margin-top: 20px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  resize: none;
  padding: 12px;
}

.run-code {
  float: right;
}

.next-level {
  float: right;
  background-color: green;
  font: white;
}

.hot-rod-grid {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  height: calc(100% - 20px);
}
.row {
  display: flex;
  align-items: center;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.cell-W {
  background-color: rgba(66, 66, 66, 1);
}

.cell-S {
  background-color: rgba(0, 0, 255, 0.5);
}

.cell-E {
  background-color: rgba(0, 255, 0, 0.5);
}

.hot-rod {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: red;
}

.pedestrian {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: black;
}
